.item{
    border: solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}


.checkbox{
    margin: 3px;
}

.checkbox input{
    margin: 0;
}

button{
    margin-top: 5px;
    max-width: 100px;
}

input{
    margin:5px 0px;
}